// ---- ---- color ---- ---- //
// $color_white: #ffffff;
// $color_t_main: #35312e;
// $color_t_dark: #4f463f;
// $color_t_grey: #6e6259;
// $color_t_info: #6e635a;
// $color_t_accent: #670a18;
// $color_t_footer: rgba(245, 241, 233, 0.6);
// $color_t_light: #fcfaf6;
// $color_t_footer-copy: rgba(252, 250, 246, 0.5);
// $color_bg_light: #f0eedd;
// $color_bg: #f5f1e9;
// $color_bg_dark: #6c674d;
// $color_bg_accent: #807c62;
// $color_bg_button: #d37657;
// $color_bg_slider: #fbf6ea;
// ---- ---- main ---- ---- //
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  max-width: 100%;
  width: 100%;
  min-width: 300px;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $color_t_main;
}
.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}
// ---- ---- Title ---- ---- //
.title {
  &__h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 1px;
  }
}
// ---- ---- menu ---- ---- //
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 48px;
}
.menu {
}
// ---- ---- btn ---- ---- //
.button {
}
// ---- ---- footer ---- ---- //
.footer {
}
