// ---- ---- media ---- ---- //
@media (max-width: 1400px) {
  .shop__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 300px 100px;
  }
  .shop__box > * {
    justify-self: center;
  }
  .follow__text-box {
    flex-shrink: 0;
  }
  .follow__img {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .hero__wrap {
    margin-left: 100px;
  }
}

@media (max-width: 1111px) {
  .follow__img-box--right {
    display: none;
  }
  .follow__hashtag {
    margin-top: 50px;
  }
  .follow__text {
    margin-bottom: 40px;
  }
  .follow__button {
    margin-bottom: 30px;
  }
  .footer__top {
    gap: 20px;
  }
}
@media (max-width: 875px) {
  .footer__items-box {
    width: 100px;
  }
}
@media (max-width: 760px) {
  .follow__text-box {
    flex-shrink: 1;
  }
}
@media (max-width: 750px) {
  .hero {
    background-position: 60% bottom;
  }
  .hero__wrap {
    margin-left: 20px;
  }
  .swiper-slide img {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .nav {
    flex-direction: column;
    gap: 15px;
  }
  .menu__logo-link {
    margin-right: 0;
  }
  .hero {
    padding-top: 50px;
    background-position: 70% bottom;
  }
  .quotes__box {
    flex-direction: column;
    gap: 20px;
  }
  .welcome {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .welcome__wrap {
    flex-direction: column;
    gap: 40px;
  }
  .designed {
    padding-top: 60px;
  }
  .designed__text {
    margin-bottom: 20px;
  }
  .designed__swiper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .shop {
    padding-top: 60px;
    &__box {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 10px 60px;
      gap: 0px;
    }
    &__item-img {
      width: 100%;
    }
    &__item {
      max-width: 280px;
      &:last-child {
        .shop__item-img {
          margin-top: 50px;
          margin-bottom: 20px;
        }
      }
      &:nth-child(2) {
        .shop__item-img {
          margin-bottom: 20px;
        }
      }
    }
  }
  .follow__box {
    flex-direction: column;
  }
  .follow__img-box--right {
    display: flex;
  }
  .footer {
    padding-top: 60px;
  }
  .footer__top {
    flex-direction: column;
  }
  .footer__form {
    margin-bottom: 40px;
  }
  .footer__links-box {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .footer__items-wrap {
    flex-wrap: wrap;
  }
  .footer__bottom-wrap {
    flex-direction: column;
  }
  .footer__copy-box {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
}
@media (max-width: 450px) {
  .designed__text {
    font-size: 28px;
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 2px solid #e09d81;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 5px);
  }
}
