// ---- ---- media ---- ---- //

@media (max-width: 2000px) {
  .request__list {
    margin-left: 100px;
  }
}

@media (max-width: 1250px) {
  .gallery__left {
    max-width: 250px;
  }
  .gallery__box {
    gap: 1px;
  }
}
@media (max-width: 1150px) {
  .nav {
    &__logo {
      margin-right: 50px;
    }
    &__list {
      gap: 25px;
    }
  }
  .clients__bottom {
    gap: 20px;
  }
}
@media (max-width: 1000px) {
  .nav {
    &__logo {
      margin-right: 25px;
    }
    &__list {
      gap: 20px;
    }
    &__phone {
      margin-right: 20px;
    }
  }
  .projects {
    &__item {
      flex-direction: column-reverse;
      gap: 20px;
    }
    &__left {
      max-width: 700px;
      margin: 0 auto;
    }
    &__right {
      display: flex;
      max-width: 700px;
      margin: 0 auto;
    }
    &__swiper-text {
      left: 0%;
    }
    &__info-box {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    bottom: 0;
  }
  .swiper-button-next {
    left: 55%;
  }
  .swiper-button-prev {
    left: 35%;
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 42%;
    width: 100px;
  }
  .types__box {
    flex-wrap: wrap;
  }
  .types__item-block {
    padding-bottom: 160px;
    margin-bottom: 59px;
  }
  .request {
    &__left {
      flex: 0 0 250px;
    }
    &__list {
      margin-left: 70px;
    }
    &__item {
      max-width: 200px;
    }
    &__item::before {
      left: -30%;
    }
    &__form-box {
      padding: 28px;
    }
    &__form-btn {
      margin-left: auto;
    }
  }
  .clients__bottom {
    justify-content: center;
  }
  .clients__item:last-child {
    display: none;
  }
  .gallery__box {
    width: 100%;
    min-height: 860px;
  }
  .gallery__images-box {
    flex-basis: 1000px;
  }
  .gallery__list,
  .gallery__title {
    display: none;
  }
  .question {
    max-width: 600px;
  }
}
@media (max-width: 900px) {
  .nav {
    &__list {
      display: none;
    }
  }
}
@media (max-width: 860px) {
  .control__video-box {
    width: 100%;
    padding: 20px;
  }
  .control__video-img {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .gallery {
    display: none;
  }
  .gallery-swiper__box {
    display: block;
  }
  .gallery__wrap {
    padding: 0 18px 40px;
    margin: 0 auto;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(24, 24, 24, 1) 50%
    );
  }
  .swiper-slide img {
    width: 100%;
    display: block;
  }
  .gallery__wrap .swiper {
    width: 100%;
    height: 100%;
  }
  .gallery__wrap .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-button-prev-gallery,
  .swiper-button-next-gallery {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 200;
  }
  .swiper-button-prev-gallery {
    left: 14px;
  }
  .swiper-button-next-gallery {
    right: 14px;
  }
  .clients {
    margin-bottom: 350px;
    padding-top: 40px;
  }
}
@media (max-width: 700px) {
  .projects {
    padding-top: 36px;
    &__mobile-box {
      display: block;
      text-align: center;
    }
    &__title {
      width: 100%;
      max-width: 700px;
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 22px;
    }
    &__text {
      font-size: 11px;
      line-height: 17px;
      margin-bottom: 36px;
    }
    &__swiper-text {
      display: none;
    }
  }
  .swiper-slide .title__h3,
  .swiper-slide .projects__text {
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 40%;
    transform: translateY(-50%);
    bottom: auto;
  }
  .swiper-button-next {
    left: auto;
    right: 14px;
  }
  .swiper-button-prev {
    left: 14px;
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
  .swiper-button-next--mobile,
  .swiper-button-prev--mobile {
    display: initial;
  }
  .swiper-button-next--web,
  .swiper-button-prev--web {
    display: none;
  }
  .request {
    display: none;
  }
  .clients {
    display: none;
  }
  .contact {
    padding-top: 0;
  }
  .question {
    position: static;
    transform: translate(0);
    width: 100%;
    max-width: 100%;
    padding: 34px;
    margin-bottom: 46px;
  }
}
@media (max-width: 600px) {
  .hero__box {
    width: 100%;
    max-width: 550px;
    margin-left: 0px;
  }
  .projects {
    padding-bottom: 12px;
    &__left {
      width: 100%;
      max-width: 500px;
    }
    &__right {
      margin-bottom: 36px;
    }
    &__info-box {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    &__info-text {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 5px;
    }
    &__info-data {
      font-size: 11px;
      line-height: 18px;
    }
  }
  .title__h4 {
    font-size: 22px;
  }
  .control {
    &__bottom {
      background-color: $color_bg_dark;
    }
    &__video-box {
      position: static;
      transform: translate(0);
      padding: 8px 0 0 0;
    }
    &__top {
      margin-bottom: 0px;
    }
    &__video-play {
      width: 85px;
    }
    &__text {
      max-width: 340px;
      font-size: 11px;
      line-height: 19px;
      color: $color_white;
      padding-top: 51px;
      margin: 0 auto 61px;
      &::before {
        top: 20%;
      }
    }
    &__form {
      position: relative;
      margin-bottom: 0;
    }
    &__form-box {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 0;
    }
    &__form-lable {
      color: rgba(255, 255, 255, 0.5);
    }
    &__form-name {
      margin-bottom: 63px;
    }
    &__form-phone {
      margin-bottom: 26px;
    }
    &__form-btn {
      position: absolute;
      bottom: 0;
      transform: translateY(50%);
      width: 100%;
      max-width: 340px;
    }
    &__form-agree {
      color: $color_white;
    }
  }
  .form {
    &__input {
      max-width: 100%;
      color: $color_white;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    &__input::placeholder {
      color: $color_white;
    }
    &__input-box {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__checkbox--web {
      display: none;
    }
  }
  .form__checkbox--mobile {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 83px;
  }
}
@media (max-width: 550px) {
  .container {
    padding: 0 18px;
  }
  .nav {
    &__logo {
      margin-right: 10px;
    }
    &__phone {
      color: $color_white;
      margin-right: 0;
    }
    &__btn {
      display: none;
    }
  }
  .title__h1 {
    font-size: 23px;
    line-height: 132.83%;
  }
  .hero {
    min-height: 300px;
    padding-bottom: 40px;
    &__title {
      padding-top: 85px;
      margin-bottom: 16px;
    }
    &__info {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 32px;
    }
    &__btn {
      display: block;
      width: 100%;
      max-width: 338px;
      margin: 0 auto 26px;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 30%;
    transform: translateY(-50%);
    bottom: auto;
  }
  .gallery__wrap {
    padding: 0 18px;
  }
  .contact {
    background: $color_bg_dark !important;
    .container {
      display: flex;
      flex-direction: column-reverse;
    }

    &__adress {
      font-size: 18px;
      a {
        display: block;
      }
    }
    &__map {
      margin-bottom: 41px;
    }
  }
  .question {
    padding: 52px 30px 5px;
    &__form-title {
      margin-bottom: 52px;
    }
    &__input-wrap {
      flex-direction: column;
      gap: 63px;
      margin-bottom: 63px;
    }
    &__form-question {
      margin-bottom: 21px;
    }
    &__checkbox-box {
      text-align: left;
      margin-bottom: 67px;
    }
    &__form-btn {
      width: 100%;
      max-width: 340px;
    }
  }
  .footer {
    display: none;
  }
}

@media (max-width: 420px) {
  .types {
    &__icon-box {
      margin-bottom: 40px;
    }
    &__item-block {
      padding-bottom: 130px;
      margin-bottom: 70px;
    }
    &__info-box {
      left: 0;
      transform: translateX(0);
      width: 270px;
      padding: 21px 31px 37px;
    }
    &__item-title {
      font-size: 15px;
      line-height: 21px;
    }
    &__item {
      font-size: 13px;
      line-height: 22px;
    }
    &__price {
      max-width: 200px;
      font-size: 15px;
      line-height: 21px;
      padding: 11px;
      text-align: center;
    }
  }
  .question {
    padding: 52px 18px 5px;
  }
}
@media (max-width: 350px) {
  .title__h1 {
    span {
      display: flex;
    }
  }
  .form__checkbox--mobile,
  .question__checkbox-box {
    font-size: 12px;
  }
  .types__info-box {
    width: 250px;
    padding: 21px 21px 35px 21px;
  }
}
